
.icon-guidedog:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-xing:before { content: '\f168'; } /* '' */
.icon-pied-piper-alt:before { content: '\f1a8'; } /* '' */
