body
{
    background-color: #333333;
    color: white;
    
}


#container
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #656545;
}

#main
{
    width: 700px;
    margin: 20px;
    color: white;