body
{
    background-color: #333333;
    color: white;
    
}


#container
{
    height: 600px;
    margin: 50px;
    border: 4px solid #F4F4EE;
}

#main
{
    margin: 30px;
    border: 4px solid #F4F4EE;
    color: aqua;
    
}